/* nav style section */
body{
    background-color: #f5f8ff;
}
header{

}
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;

}
nav ul li{
    list-style: none;
}
.logo{
    font-size: 34px;
    font-weight: bold;
    color: #4e47ff;
    margin: 0%;
}
.sign-up